#content {
    font-family: Tahoma;

    margin: 0 auto;
    padding: 1em;

    a {
        text-decoration: none;
        color: #358CE8;
    }

    a:hover {
        text-decoration: underline;
    }
}
