html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

$hover_hl_color: #3F96F2;
$navbar_font: Copperplate;
$navbar_base_item_size: 1.4em;

nav.navbar {
    border: 0;
    border-radius: 0;
    font-family: $navbar_font;
    font-size: $navbar_base_item_size;

    // nothing
    background-color: #424445;

    a.navbar-brand {
        color: white;
        font-size: 1.4em;
    }

    a.navbar-brand:hover {
        color: $hover_hl_color;
    }

    button.navbar-toggle {
        color: white;
        border-color: white;
    }

    .navbar-toggle .icon-bar {
        background-color: white;
    }

    ul.navbar-nav.nav li {
        color: white;

        a {
            color: white;
        }

        a:hover {
            color: $hover_hl_color;
        }
    }
}
