doctype html
html
    head
        include ../includes/head.html
        link(rel="stylesheet", href="dist/css/article.css")

        block extra_css

        block title
    body
        include ../includes/navbar.html
        #content
            block content
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        block extra_js
