<head>
    <meta charset="UTF-8">

    <!-- viewport for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="icon" type="image/png" href="/assets/img/ut_logo_round.png" />
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <title>Daniel Kats - Department of Computer Science</title>
</head>
