doctype html
html
    head
        include ./includes/head.html
        link(rel="stylesheet", href="dist/css/hero.css")
        title Daniel Kats - Department of Computer Science
    body
        include ./includes/navbar.html
        #hero

        #content
            #about-container
                include ./markdown_html/about_me.html
            #research-container
                include ./markdown_html/my_research.html
            #teaching-container
                include ./markdown_html/my_teaching.html
            #personal-projects-container
                include ./markdown_html/personal_projects.html

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="src/js/main.js"></script>
